
commands:
  handlers:
    command: c:\Windows\System32\inetsrv\appcmd set config /section:handlers /accessPolicy:Execute,Write,Read,Script
  isapi_restrictions:
    command: c:\Windows\System32\inetsrv\appcmd set config /section:isapiCgiRestriction /+"[path='%SystemDrive%\inetpub\wwwroot\datasnap\sample_isapi.dll',description='Datasnap',allowed='True']"
    ignoreErrors: true
