 files:
  "c:\\newrelic\\newrelic.msi":
     source: "http://download.newrelic.com/windows_server_monitor/release/NewRelicServerMonitor_x64_3.3.3.0.msi"
  "c:\\init_scripts\\rename_newrelic_display_name_if_necessary.ps1":
     content: |
      #stop newrelic service
      Stop-Service -Name nrsvrmon;
      $longName = Invoke-RestMethod -uri http://169.254.169.254/latest/meta-data/hostname
      $displayName = $longName.Split('.')[0].Replace("ip-", "");
      $displayName = [string]::Format("{0}-{1}", $env:NEW_RELIC_APP_NAME, $displayName).Replace(" ", "-");
      Set-ItemProperty -Path "HKLM:\SOFTWARE\New Relic\Server Monitor" -Name Host -Value $displayName
      #start newrelic service
      Start-Service -Name nrsvrmon;
 container_commands:
  01_install_newrelic:
   command: "msiexec.exe /q /i c:\\newrelic\\newrelic.msi NR_LICENSE_KEY=%NEW_RELIC_LICENSE_KEY% INSTALLLEVEL=1"
   waitAfterCompletion: 0
  02_update_newrelic_display_name:
   command: powershell -ExecutionPolicy RemoteSigned -File .\\rename_newrelic_display_name_if_necessary.ps1
   cwd: c:\\init_scripts
   waitAfterCompletion: 0
